<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/style.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title>POS</title>
</head>

<body>


    <section class="entry pdgb50">
        <div class="container">
            <div class="row pdg50">
                <div class="d-flex align-items-center justify-content-between">
                    <img src="" width="250px">
                    <a href="/signin"><button class="entry-button">Sign in</button></a>
                </div>
            </div>
            <div class="row ">
                <div class="col-sm-6 pdg100">
                    <h1><span class="g-c">POS</span> API for<br> E-commerce Applications</h1>
                    <h6 class="mrg25">Lorem ipsum dolor sit amet <span class="g-c">lorem ipsum</span> Lorem ipsum dolor
                        sit amet Lorem ipsum dolor sit amet</h6>
                    <div class="d-flex mrg25 align-itmes-center">
                        <a href="/signup"><button class="join-btn ">Join Now</button></a>
                        <img src="img/eye.svg" width="50px" style="margin-left: 15px;">
                    </div>
                </div>
                <div class="col-sm-6 text-center">
                    <img src="img/man.svg" width="70%">
                </div>
            </div>

            <div class="card pdg25 pdgb25">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3 text-center">
                            <img src="img/1.svg" width="50px">
                            <h5 class="mrg25">Lorem Ipsum Dorot</h5>
                            <p>22 offers from 4% per month</p>
                        </div>
                        <div class="col-sm-3 text-center">
                            <img src="img/2.svg" width="50px">
                            <h5 class="mrg25">Lorem Ipsum Dorot</h5>
                            <p>22 offers from 4% per month</p>
                        </div>
                        <div class="col-sm-3 text-center">
                            <img src="img/3.svg" width="50px">
                            <h5 class="mrg25">Lorem Ipsum Dorot</h5>
                            <p>22 offers from 4% per month</p>
                        </div>
                        <div class="col-sm-3 text-center">
                            <img src="img/4.svg" width="50px">
                            <h5 class="mrg25">Lorem Ipsum Dorot</h5>
                            <p>22 offers from 4% per month</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>





    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>


</body>

</html>