<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/style.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title>POS</title>
</head>

<body>


    <section class="entry pdgb50">
        <div class="container">
            <div class="row pdg50">
                <div class="d-flex align-items-center justify-content-between">
                    <img src="" width="250px">
                    <a href="/signin"><button class="entry-button">Log in</button></a>
                </div>
            </div>
            <div class="row ">
                <div class="col-sm-6 pdg100">
                    <h1><span class="g-c">POS</span> for<br> E-commerce Applications</h1>
                    <h6 class="mrg25">Accept Payments in cryptocurrency with <span class="g-c">Pegasas</span> Payment
                        gateway</h6>
                    <div class="d-flex mrg25 align-itmes-center">
                        <a href="/signup"><button class="join-btn">Join Now</button></a>
                        <a href="https://payment-test0.herokuapp.com"><button class="join-btn"
                                style="margin-left: 15px;">Test Payment</button></a>
                        <img src="img/eye.svg" width="50px" style="margin-left: 15px;">
                    </div>
                </div>
                <div class="col-sm-6 text-center">
                    <img src="img/man.svg" width="70%">
                </div>
            </div>

            <div class="card pdg25 pdgb25">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3 text-center">
                            <img src="img/1.svg" width="50px">
                            <h5 class="mrg25">Create multiple smart contracts with single account</h5>
                            <!-- <p>22 offers from 4% per month</p> -->
                        </div>
                        <div class="col-sm-3 text-center">
                            <img src="img/2.svg" width="50px">
                            <h5 class="mrg25">Grow your business with Decentralized Finance</h5>
                            <!-- <p>22 offers from 4% per month</p> -->
                        </div>
                        <div class="col-sm-3 text-center">
                            <img src="img/3.svg" width="50px">
                            <h5 class="mrg25">Power your finances with instant settlements</h5>
                            <!-- <p>22 offers from 4% per month</p> -->
                        </div>
                        <div class="col-sm-3 text-center">
                            <img src="img/4.svg" width="50px">
                            <h5 class="mrg25">Integrate Pegasas payment gateway with a few lines of code</h5>
                            <!-- <p>22 offers from 4% per month</p> -->
                        </div>

                    </div>
                </div>
            </div>

            <div class="row text-center" style="padding-top: 60px; ">
                <h2 style="color: white;">First time in Crypto?</h2>
                <br />
                <h3 style="color: grey; font-size: 25px;">
                    Nowadays many business small or big has started accepting UPI Payments , in future as crypto starts
                    to be more accepted we might see businesses & e-commerce websites start accepting Crypto as a form
                    of payment on any purchase.
                </h3>
                <br>
                <a href="/fiat" style="font-size: 18px; padding-top: 20px;"><button class="entry-button">Buy Crypto <svg
                            width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-compact-right"
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z" />
                        </svg></button></a>


            </div>
        </div>
    </section>


    <section class="mac">
        <div class="container text-center mac-x">
            <h1>Payment Gateway</h1>
            <p>Settlement just got even better !</p>
            <div class="parent" style="margin-top: 0px;">
                <img src="./img/laptop.png" class="responsive image1" alt="">
                <img src="./img/dash.png" class="responsive image2" alt="">
            </div>
        </div>
    </section>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>


</body>

</html>