@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

.entry{
    min-height: 100vh;
    background: url('/img/bg.svg');
    background-size: cover;
}
.entry-button{
    background-color: #fff;
    padding: 12px 32px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 12px;
    border: none;
}

.entry h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 3.5rem;
}
.entry h6{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #fff;    
}
.entry h5{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #fff;    
}
.entry p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #fff;    
}
.g-c{
    color: #98E39E;
}
.join-btn{
    background-color: #98E39E;
    padding: 12px 32px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    border: none;
}
.entry .card{
    background: linear-gradient(94.46deg, rgba(113, 113, 113, 0.29) 0%, rgba(204, 204, 205, 0.29) 29.69%, rgba(91, 91, 93, 0.42) 100%);

}

.mrg25{
    margin-top: 25px;
}
.pdg25{
    padding-top: 25px;
}
.pdgb25{
    padding-bottom: 25px;
}
.pdg50{
    padding-top: 50px;
}
.pdgb50{
    padding-bottom: 50px;
}
.pdg100{
    padding-top: 100px;
}